
.paginationBttns{
  margin: auto;
  width : 60%;
  padding: 10px;
  height : 40px;
  list-style: none;
  display:flex;
  justify-content: center;
}

.paginationBttns a{
  padding: 3px;
  margin : 3px;
  border-radius : 5px;
  border : 1px lightblue;
  color: bold black;
  cursor : pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.paginationBttns a:hover{
  color : white;
  background-color: lightblue;
}
.paginationActive a{
  color : white;
  background-color: lightblue;
}
.prevBttn{
  font-weight: bold;
  color : black;
  background-color: lightblue;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.heading{
  text-align: center;
  font-style: oblique;
  font-weight: bold;
}
.startup-card {
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
  margin: 10px;
  max-width : 450px;
  word-wrap: break-word;
}
.card-h5{
  text-align:left;
  margin:2px;
  font-style: italic;
  font-weight: bold;

}
.card-msg{
  font-family: monospace;
  font-weight: 100;
}

.startup-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.startupnews{
  display: flex;
  width: auto;
  justify-content: center;/*space-around*/
  align-items: center;
  overflow: auto;
  flex-wrap: wrap;
 
}
